<header class="site-header">
    <div class="logo">
        MAK<span>.</span>
    </div>

    <nav class="nav-links">
        <a href="../index.html" data-page="index">Inicio</a>
        <a href="sobre-mi.html" data-page="sobre-mi">Sobre mí</a>
        <a href="experiencia.html" data-page="experiencia">Experiencia</a>
        <a href="estudios.html" data-page="estudios">Estudios</a>
        <a href="dafo.html" data-page="dafo">DAFO</a>
        <a href="ipop.html" data-page="ipop">IPOP</a>
        <a href="myeures.html" data-page="myeures">MY EURES</a>
        <a href="europass.html" data-page="europass">Europass</a>
        <a href="cartas.html" data-page="cartas">Cartas</a>
    </nav>
</header>
