<header class="site-header">
<div class="logo">MAK<span>.</span></div>

<nav class="nav-links">
    <a href="/index.html" data-page="index">Inicio</a>
    <a href="/pages/sobre-mi.html" data-page="sobre-mi"
    >Sobre mí</a
    >
    <a href="/pages/experiencia.html" data-page="experiencia"
    >Experiencia</a
    >
    <a href="/pages/estudios.html" data-page="estudios"
    >Estudios</a
    >
    <a href="/pages/dafo.html" data-page="dafo">DAFO</a>
    <a href="/pages/ipop.html" data-page="ipop">IPOP</a>
    <a href="/pages/myeures.html" data-page="myeures">MY EURES</a>
    <a href="/pages/europass.html" data-page="europass"
    >Europass</a
    >
    <a href="/pages/cartas.html" data-page="cartas">Cartas</a>
</nav>
</header>
